{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_data %}
    {% block page_product_detail_data_rich_snippet_url %}
        {{ parent() }}
    {% endblock %}

    {% block page_product_detail_data_rich_snippet_price_range %}
        {{ parent() }}
    {% endblock %}

    {% block page_product_detail_data_rich_snippet_price_currency %}
        {{ parent() }}
    {% endblock %}

    {% block page_product_detail_price %}
        {{ parent() }}
    {% endblock %}

    {% block page_product_detail_tax %}
        {{ parent() }}
    {% endblock %}

    <!-- MOVED PRODUCTNUMBER -->
    {% block page_product_detail_ordernumber_container %}
        {% if page.product.productNumber %}
            <div class="product-detail-ordernumber-container">
                {% block page_product_detail_ordernumber_label %}
                    <span class="product-detail-ordernumber-label">
                        {{ "detail.productNumberLabel"|trans|sw_sanitize }}
                    </span>
                {% endblock %}

                {% block page_product_detail_ordernumber %}
                    <meta itemprop="productID"
                            content="{{ page.product.id }}"/>
                    <span class="product-detail-ordernumber"
                            itemprop="sku">
                        {{ page.product.productNumber }}
                    </span>
                {% endblock %}
            </div>
        {% endif %}
        <a href="#product-detail-tabs" class="link-to-tabs">
            Zu den Produktinformationen {% sw_icon 'arrow-simple-long-right' %}
        </a>
    {% endblock %}

    {% set remoteClickOptions = {
        selector: "#review-tab",
        scrollToElement: true
    } %}

    {% block page_product_detail_reviews %}
        {% if page.product.ratingAverage > 0 and page.reviews.totalReviews > 0 and shopware.config.core.listing.showReview %}
            <div class="product-detail-reviews">

                {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                    points: page.product.ratingAverage,
                    style: 'text-primary'
                } %}
                <a data-toggle="tab"
                    class="product-detail-reviews-link"
                    data-offcanvas-tabs="true"
                    data-remote-click="true"
                    data-remote-click-options='{{ remoteClickOptions|json_encode }}'
                    href="#review-tab-pane"
                    aria-controls="review-tab-pane">
                    {{ page.reviews.totalReviews }}
                    {{ "detail.reviewLinkText"|trans({'%count%': page.reviews.totalReviews})|sw_sanitize }}
                </a>
            </div>
        {% endif %}
    {% endblock %}

    {% block page_product_detail_delivery_informations %}
        {{ parent() }}

        {% if page.product.customFields.custom_product_delivery_text %}
            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                type: "secondary",
                content: page.product.customFields.custom_product_delivery_text
            } %}
        {% endif %}

    {% endblock %}
{% endblock %}



{% block page_product_detail_buy_inner %}
    <div class="product-detail-buy js-magnifier-zoom-image-container">
        {% block page_product_detail_rich_snippets %}
            {{ parent() }}
        {% endblock %}

        {% block page_product_detail_not_available %}
            {{ parent() }}
        {% endblock %}

        {% block page_product_detail_buy_container %}
            {{ parent() }}
        {% endblock %}

        {% if config('core.cart.wishlistEnabled') %}
            {% block page_product_detail_wishlist %}
                {{ parent() }}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
